.carousel-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    to right,
    #151515 0%,
    rgba(21, 21, 21, 0) 100%
  ); /* W3C */
}
